.Bio {
  min-height: 100vh;
  display: block;
}
.bioContainer {
  padding-top: 10%
}
.Bio .profile{
	width:300px;
	height:300px;
	border-radius: 250px;
	margin-top:5%;
	margin-bottom:5%;
}
.Bio .leftPane {
	text-align: center
}