.Tech {
  min-height: 100vh;
  width:100vw
}
.Tech i{
	color:#000;
	font-size: 3em;
	text-align: center;	
}
.Tech .header {
  font-size:4rem;
  text-align: center;
}
.Tech .icons {
  text-align: center;
  padding: 2rem
}